<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiUrl</key>
	<string>${CONFIG_API_URL}</string>
	<key>BugsnagAPIKey</key>
	<string>a48fda6bc569b8e593d7cf2fe3b6a49c</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(CONFIG_APP_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(CONFIG_APP_BUNDLE_ID)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(CONFIG_APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>We do not want access to your music. Required by supporting library.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need to be able to use Bluetooth to talk to your bracelet and let you activate it even if the app isn't open.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We do not want access to your bluetooth peripherals. Required by supporting library.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We do not want access to your calendars. Required by supporting library.</string>
	<key>NSCameraUsageDescription</key>
	<string>We only use the camera when adding jewelry to your account</string>
	<key>NSContactsUsageDescription</key>
	<string>Add the Flare phone number as a contact and pick the friends to contact when you need backup.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location so we can send your location to your friends when you activate a message even if the app isn't open.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location so we can send your location to your friends when you activate a message even if the app isn't open.</string>
	<key>NSLocationUsageDescription</key>
	<string>We need your location so we can send your location to your friends when you activate a message even if the app isn't open.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location so we can send your location to your friends when you activate a message even if the app isn't open.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We don't want to access your microphone. Required by supporting library.</string>
	<key>NSMotionUsageDescription</key>
	<string>We do not want access to your movement data. Required by supporting library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We don't want to access your photo library. Required by supporting library.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We do not want access to speech recognition. Required by supporting library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>rubicon-icon-font.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>NocturnoDisplayStd-Regular.otf</string>
		<string>NocturnoDisplayStd-RegularItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>isDevVersion</key>
	<string>${CONFIG_DEV}</string>
</dict>
</plist>
